.container {
  margin-top: 23px;
  margin-bottom: 40px;
  width: 83.33%;
  background-color: #405d6d;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding-top: 34px;

  text-align: center;
}
.container-text {
  padding: 16px;
}

.input-width {
  width: 100%;
}

.form-grid {
  gap: 8px 40px;
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 6.66%;
  padding-right: 6.66%;
}
::placeholder {
  color: #ffffff;
}
.container-button {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  padding: 16px 8px;

  align-items: center;
  text-align: center;
  width: 20%;
  height: 72px;
  background-color: #33c5f3;
  border: none;
  border-radius: 8px;
}
.container-button:hover {
  background-color: #94e6ff;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
  .container-button{
    width: 50%;
    
  }
}
@media only screen and (max-width: 470px) {
  .container-button{
    width: 50%;
  }
  .container{
    width: 100%;
  }
  .form-grid {
    gap: 0px 1%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 1%;
    padding-right: 1%;
  }
}
