.container {
  margin-top: 23px;
  height: 50%;
  width: 83.33%;
  background-color: #405d6d;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
